<div class="p-6 py-3">
  <h1 class="text-2xl font-bold">Active Users</h1>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    <%= for user <- @users do %>
      <tr class="user">
        <td class="username px-2"><%= user.username %></div>
        <td class="email px-2"><%= user.email %></div>
        <td class="status px-2"><%= user.status %></div>
      </tr>
    <% end %>
  </table>
</div>
